<!DOCTYPE html>
 <html lang="en">
	<head>
		<title><%=title %></title>
	    <% include ../views/partials/head %>
	    <link href="css/login.css" rel="stylesheet"> <!--Only CSS from Login-->
	</head>
	<body>
		<% for(var i in messages) { %>
			<div class="flash">
				<%= messages[i] %>
			</div>
		<% } %>
		<div class="container jumbotron shadow opac">
			<form class="box form-signin" action="/login" method="post">
				<label for="">
					<img class="img-responsive center" src="../img/logo.png">
					<h4>Pentest-framework-system</h4>
					<span class="badge">alpha-0.1 node.js</span>
					<label for="username" class="sr-only">Username</label>
					<input id="username" class="form-control" type="text", placeholder="Username" name="username" required autofocus>
				    <label for="password" class="sr-only">Password</label>
					<input id="password" class="form-control" type="password", placeholder="Password" name="password">
					<button class="btn btn-default full-width" type="submit">
						<span class="glyphicon glyphicon-log-in"></span>
					</button>
				</label>
			</form>
		</div>
	</body>
</html>

